<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>My Angular</title>
</head>
    <body>
        <div ng-controller="bindingCntrl as vm">
            Please enter your name: <input ng-model="vm.name" type="text">
           <h3> Welcome {{vm.name}}!!!</h3>     
           <ul>
               <li ng-repeat="note in vm.notes" >{{note.name}}</li>
           </ul>
           <button ng-click="vm.getNotes()"> Get Notes </button>
        </div>
         <script type="text/javascript" src="js/angular.js"></script>
         <script type="text/javascript" src="js/HelloCntrl.js"></script>
    </body>   
 </html>